* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #ffffff;
    color: #333;
}



header{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;
    margin: 0 auto;
    border-radius: 0 0 40px 40px;
    background-color: #f5f5f5da;
    display: flex;
    height: 80px;
    width: 90%;
    justify-content: space-around;
    align-items: center;
}
.logo{
    height: 80px;

}
.logo img{
    height: 100%;
    
}
header ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
header ul li a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
}
.parametre{
    display: flex;
    gap: 10px;
}
.parametre img{
    height: 40px;
}


.bannier{
    background-image: url('../img/vue-photorealiste-des-africains-recoltant-des-legumes-et-des-cereales.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 100%;
}



.rechercher{
    position:  absolute;
    left: 0;
    right: 0;
    top: 600px;
    margin: 0 auto;
    height: 120px;
    width: 90%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px 50px 0 0;

}
.rechercher form{
    border: 1px solid #000000;
    display: flex;
    justify-content: space-around;
    width: 500px;
    padding: 10px;
    gap: 10px;
    border-radius: 50px;
}
.rechercher form img{
    height: 30px;
}
.rechercher form input{
    width: 300px;
    border: none;
    outline: none;
}
.rechercher form button{
    width: 100px;
    background-color: green;
    border: none;
    border-radius: 20px;
    color: #ffffff;
}



main{
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-bottom: 200px;
    top: 50px;
    display: flex;
    width: 90%;
    gap: 200px;
}
main .gauche{
    width: 20%;
    background-color: #ffffff;
    height: 300px;
    padding: 20px;
    border-radius: 20px;
    margin-left: 20px;
}
main .gauche h2{
    margin-bottom: 20px;
}
main .gauche form{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
main .gauche form .Categories h3{
    margin-bottom: 10px;
    font-size: 15px;
}
main .gauche form .Categories .choix{
    margin-left: 20px;
}
main .gauche form .Categories label{
    font-size: 16px;
}



main .droite{
    
}
main .droite .produits{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}
main .droite .produits .produit_card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 390px;
    width: 290px;

}
main .droite .produits .produit_card img{
    height: 300px;
}
main .droite .produits .produit_card .text{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
main .droite .produits .produit_card .text .left{
    display: flex;
    flex-direction: column;
}
main .droite .produits .produit_card .text .left h3{
    font-size: 28px;
}


main .droite .produits .produit_card .text h2{
    font-size: 38px;
    color: green;
}

main .droite .produits .produit_card .text .left .badge{
    display: flex;
    align-items: center;
    font-size: 15px;
}
main .droite .produits .produit_card .text .left .badge img{
    height: 20px;
}

main .droite .produits .produit_card .bas{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
main .droite .produits .produit_card .bas{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
main .droite .produits .produit_card .bas button{
    width: 120px;
    padding: 5px 0;
    background-color: #008000;
    border: none;
    border-radius: 20px;
    color: #ffffff;
}
main .droite .produits .produit_card .bas #livraison{
    background-color: rgb(0, 0, 0);

}


.ligne{
    width: 100%;
    height: 2px;
    background-color: #000000;
    margin: 40px 0;
}

.barre_navigation{
    display: flex;
    justify-content: space-between;
}

#precedent{
    cursor: pointer;
    padding: 5px 25px;
    background-color: #ffffff;
    border: none;
}
#suivant{
    cursor: pointer;
    padding: 5px 25px;
    background-color: #ffffff;
    border: none;
}

.barre_navigation button{
    background-color: #ffffff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}
.barre_navigation .page_active{
    background-color: #cdcdcd;
}


.bannier_bas{
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-image: url('../img/Plandetravail1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 90%;
}


.footer {
    background-color: #000000;
    color: #fff;
    font-family: Arial, sans-serif;
    padding: 40px 20px 20px 20px;
}

.footer-services {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 40px;
}

.footer-services .service {
    flex: 1 1 250px;
    background-color: #444;
    padding: 20px;
    border-radius: 15px;
}

.footer-services .service .titre {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.footer-services .service .titre img {
    width: 30px;
    height: 30px;
}

.footer-services .service h3 {
    font-size: 20px;
    color: green;
}

.footer-services .bas_badge {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.footer-services .bas_badge img {
    width: 20px;
    height: 20px;
}

.footer-services ul {
    margin-top: 10px;
    padding-left: 20px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer-section {
    flex: 1 1 200px;
}

.footer-section h3 {
    margin-bottom: 15px;
    color: green;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #ff6600;
}

.social-icons a img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #555;
    padding-top: 15px;
    font-size: 14px;
    color: #ccc;
}
