/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url('../img/fond.jpg');
    color: #333;
}

/* ================= MAIN ================= */
.container{
    width: 100%;
    padding: 0 50px;
    margin-top: 50px;
    display: flex;

    justify-content: center;
    
}

.conteneurg{
    background-image: url('../img/countryside-woman-holding-plant-leaves.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.user_section{
    width: 50%;
    background: #ffffffc6;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.user_section h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    color: #2e7d32;
}

/* ================= FORM ================= */
.user_form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.user_form label{
    font-weight: bold;
    font-size: 15px;
}

.user_form input{
    padding: 12px 15px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 15px;
}

.user_form input:focus{
    border-color: green;
}

.user_form .bnt{
    margin-top: 20px;
    padding: 12px 50px;
    border-radius: 10px;
    text-decoration: none;
    border: none;
    background-color: green;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.user_form .bnt:hover{
    background-color: #1b5e20;
}
